<app-header titulo="Receitas"></app-header>

<ion-content class="ion-padding">
  
  <ion-card (click)="showModal()">
    <ion-img src=""></ion-img> 
    <ion-card-header>
      <ion-card-title >Receita 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Descrição da Receita 1. Adicione detalhes sobre a preparação e os ingredientes aqui.
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-img src=""></ion-img> 
    <ion-card-header>
      <ion-card-title>Receita 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Descrição da Receita 2. Adicione detalhes sobre a preparação e os ingredientes aqui.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-img src=""></ion-img> 
    <ion-card-header>
      <ion-card-title>Receita 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Descrição da Receita 3. Adicione detalhes sobre a preparação e os ingredientes aqui.
    </ion-card-content>
  </ion-card>

  
</ion-content>